lets create a student data in python

In [6]:
name = "alice"
age = 18
GPA = 3.78
plays_volleyball = True

print(name)

alice

In [7]:
print(name, age, GPA, plays_volleyball)

alice 18 3.78 True

In [8]:
GPA = GPA + 0.07

print(name, age, GPA, plays_volleyball)

alice 18 3.8499999999999996 True

lets  try and print the sudent information in a more meaningful manner

In [10]:
print(f"The student name is {name} and is {age} years old ")

The student name is alice and is 18 years old

lets calculate alice age in 15 years

In [12]:
age = age + 15
print(f"The student name is {name} and will be {age} years old after 15 years")

The student name is alice and will be 48 years old after 15 years

In [14]:
sports = ["volleyball","netball","touch rugby","cross country" ]
sports[0]

'volleyball'

In [15]:
sports.append("cricket")

print("Alice is currently playing ", sports)

Alice is currently playing  ['volleyball', 'netball', 'touch rugby', 'cross country', 'cricket']

In [16]:
sports[0:3]

['volleyball', 'netball', 'touch rugby']

lets see the **last 3 sports** Alice is playing

In [18]:
sports[-3:]

['touch rugby', 'cross country', 'cricket']

In [19]:
sports[2:]

['touch rugby', 'cross country', 'cricket']

 ## Calculating Letter grade
 - 2 or under D
 - 3 or under C
 - 3.8 or under B
 - Above 3.8 A

In [24]:
student_gpa = float(input("What is your GPA"))

if student_gpa > 3.8:
    letter_grade = "A"
elif student_gpa > 3:
    letter_grade = "B" 
elif student_gpa > 2:
    letter_grade = "C" 
else:
    letter_grade = "D"

print(f"students letter grade is {letter_grade}")

students letter grade is C